.selling {
  margin-top: 70px;
  width: 100%;
  background-image: linear-gradient(to right, #3333339e, #eeeeee68),
    url(/public/bg.png);
  padding: 30px 20px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.selling .images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.selling .images .group {
  display: flex;
  flex-direction: column;
}

.selling .images .group .text {
  background-image: url(/public/bgSmall.png);
  width: 100%;
  padding: 7px 30px;
  padding-left: 70px;
  text-align: center;
  font-size: 28px;
}

.selling .images .center {
  position: absolute;
  left: 55%;
  top: 40%;
  transform: translateX(-50%);
}

.selling .images .top {
  background-image: url(/public/bgPercentg.png);
  padding: 5px 30px;
}

.selling .images .bottom {
  top: 55%;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .selling .images .group .text {
    font-size: 24px;
    padding-left: 50px;
    padding-right: 20px;
  }
}

@media (max-width: 992px) {
  .selling .images {
    flex-direction: column;
    gap: 30px;
  }

  .selling .images .center {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
  }

  .selling .images .bottom {
    top: -700px;
    left: 180px;
  }
  .selling .images .top {
    padding: 5px 20px;
    top: -620px;
  }
}

@media (max-width: 768px) {
  .selling {
    padding: 20px 15px 0;
  }

  .selling .images .group .text {
    font-size: 20px;
    padding: 7px 20px;
    padding-left: 40px;
  }
}

@media (max-width: 576px) {
  .selling {
    margin-top: 40px;
  }

  .selling .images .group .text {
    font-size: 18px;
    padding: 7px 15px;
    padding-left: 30px;
  }

  .selling .images .top {
    padding: 5px 15px;
  }
}
